<app-header></app-header>

<div>
  <div class="underHeader">
    <h2>To Do List 1</h2>

    <div>
      <button (click)="toggle()">+</button>
      <span>Aufgabe hinzufügen</span>
    </div>
  </div>


  <div *ngIf="display" class="addTasks">
    <div class="typeTask">
      <mat-card>
        <!-- id task -->
          <input (keyup.enter)="addTask()" [(ngModel)]="newTask" matInput placeholder="Aufgabe hinzufügen">
          <!-- Aufgabe hinzufügen -->
          <mat-icon (click)="addTask()">description</mat-icon>
      </mat-card>
    </div>

    <div class="line">
      <hr>
    </div>
  </div>

</div>

<div class="container"
*ngFor="let item of list; let i = index">
  
  <!-- *ngIf="isDone", [list.i]="isDone" -->
  <mat-card [class.bgChange]="item.isDone"  class="manyTasks">
     
    <!-- done button,  -->
    <mat-icon (click)="doneTask(i)">done</mat-icon>

    <span>{{item.text}}</span>
  </mat-card>

  <mat-icon (click)="removeTask(i)">delete_outline</mat-icon>
</div>



<h2 style="text-align: center;">Erledigt</h2>

<div class="container"
*ngFor="let doneItem of newArr; let i = index">
  
  <mat-card [class.bgChange]="!doneItem.isDone" class="manyTasks">
     
    <!-- done button,  -->
    <mat-icon (click)="backToDo(i)">done</mat-icon>

    <span>{{doneItem.text}}</span>
  </mat-card>

  <mat-icon (click)="removeNewArrTask(i)">delete_outline</mat-icon>
</div>