<app-header></app-header>

<div>
  <div class="underHeader">
    <h2>To Do List 1</h2>

    <div>
      <button (click)="toggle()">+</button>
      <span>Aufgabe hinzufügen</span>
    </div>
  </div>


  <div *ngIf="display" class="addTasks">
    <div class="typeTask">
      <mat-card>
        <!-- id task -->
          <input #task matInput placeholder="Aufgabe hinzufügen">
          <!-- Aufgabe hinzufügen -->
          <mat-icon (click)="addTask(task.value)">description</mat-icon>
      </mat-card>
    </div>

    <div class="line">
      <hr>
    </div>
  </div>

</div>

<div class="container"
*ngFor="let item of list">
  
  <!--  -->
  <mat-card [style.background-color]="backgroundcolor" class="manyTasks">
     
    <!-- done button,  -->
    <mat-icon (click)="doneTask()">done</mat-icon>

    <span>{{item.name}}</span>
  </mat-card>

  <mat-icon (click)="removeTask(item.id)">delete_outline</mat-icon>
</div>
