.underHeader {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    height: 80px;

    h2 {
        margin-block-end: 0em !important;
    }

    button {
        background-color: rgb(241, 80, 96);
        color: white;
        width: 35px;
        height: 35px;
        font-size: 25px;
        border: none;
        border-radius: 5px;
        margin-right: 25px;
        
        &:hover{
            cursor: pointer;
        }
    }

    span {
        color: rgb(197, 197, 197);
    }
}

.addTasks {

    margin: 35px 0;
    
    .typeTask {
        display: flex;
        align-items: center;
        justify-content: center;

        mat-card {
            background-color: white;
            width: 900px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            input{
                height: 30px;
                border: none;
                width: 850px;
                
                &:hover{
                    cursor: pointer;
                }
            }

            mat-icon{
                color: rgb(197, 197, 197);
                
                &:hover{
                    cursor: pointer;
                }
            }
        }

        

    }
}


.line{
    margin: 35px auto;
    width: 936px;
}



.container{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .manyTasks{
        width: 900px;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-left: 24px;
    }

    mat-icon{
        &:hover{
            cursor: pointer;
        }
    }
}

.bgChange{
    background-color: darkgray;
}
